:root {
  --color-dark: #121212;
  --color-white: #FFF;
}

* {
  box-sizing: border-box;
  font: 400 1rem/1.6rem "Poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-dark);
}

body.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.sub h1 {
  font-size: 2em;
}

body.sub h2 {
  margin-top: 0;
  font-size: 1.5em;
}
